body {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  display: block;
  margin-left: 20px;
}

li a {
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

li a:hover {
  background-color: cornflowerblue;
}

img {
  max-width: 50px;
}

nav {
  border: solid teal 5px;
}

.block {
  background-color: darkturquoise;
  text-decoration: none;
  width: fit-content;
  padding: 23px;
  margin: auto;
  color: white;
  font-size: 18px;
  border: solid teal 10px;
}

button {
  background-color: greenyellow;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: darkgreen;
  border: solid white 5px;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
  background-color: mediumseagreen;
}

select {
  background-color: white;
  color: black;
  border: solid whitesmoke 3px;
  padding: 5px 10px 5px 10px;
}